<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QueryForge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css') }}">
</head>

<!-- Start/Home Page -->
<body>
    <h1 class="title">QueryForge</h1>
    <button class="btn" onclick="redirectToLogin()">Start</button>

    <script>
        function redirectToLogin() {
            window.location.href = "{{ url_for('login') }}";
        }
    </script>
</body>

</html>
