<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Parser</title>
    <link rel="stylesheet" href="frontend/css/style_resume.css">
</head>
<body>
    <div class="sidebar">
        <h2>Navigation</h2>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/search">Search</a>
    </div>
    <div class="main-content">
        <h1>Resume Parser</h1>
        <div class="upload-container">
            <!-- File upload form -->
            <form action="/resume-parser" method="POST" enctype="multipart/form-data">
                <input type="file" name="resume" accept=".pdf,.docx" required>
                <button type="submit">Upload</button>
            </form>
        </div>

        {% if keywords %}
        <div id="keywords-container" class="keywords-container">
            <h2>Extracted Keywords</h2>
            {% if keywords == ['No keywords found'] %}
                <p>No keywords found in the resume.</p>
            {% else %}
                <ul id="keywords-list">
                    {% for keyword in keywords %}
                        <li>{{ keyword }}</li>
                    {% endfor %}
                </ul>
                <!-- Form to search with top keywords -->
                <form id="keywordsForm" method="POST">
                    <input type="hidden" name="top_keywords" id="topKeywordsInput" value="{{ keywords | join(',') }}">
                    <button type="submit">Search with Top Keywords</button>
                </form>
            {% endif %}
        </div>
        {% else %}
        <p>Upload a resume to extract keywords.</p>
        {% endif %}

        {% if search_result %}
        <div class="result">
            <h3>Search Results:</h3>
            <ul>
                {% for result in search_result.split('\n') %}
                    <li>{{ result[2:] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
</body>
</html>
